* {
  font-family: "SymbolsNerdFont", "Noto Sans Mono";
}

window#waybar {
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  color: #cdd6f4;
}

tooltip {
  background: #1e1e2e;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #89b4fa;
  font-size: 13.5pt;
}

tooltip label {
  padding: 7px;
}

#workspaces {
  font-size: 20pt;
  padding-top: 5px;
}

#workspaces button {
  color: #edf2fb;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 4px;
}

#workspaces button.active {
  color: #8093f1;
  font-size: 20pt;
  background: rgba(58, 58, 58, 0.7);
  border-radius: 5px;
  margin: 4px;
}


#network {
  padding-bottom: 15px;
  font-size: 18pt;
  color: #94e2d5;
}

#pulseaudio {
  color: #000000;
  font-size: 13.5pt;
  padding-bottom: 5px;
  background-color: #efd3d7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#pulseaudio.percentage {
  font-size: 13.5pt;
  color: #000000;
  background-color: #efd3d7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#clock {
  font-size: 13.5pt;
  color: #fff7fc;
  background-color: #212529;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#clock.date {
  padding-top: 1px;
  font-size: 13.5pt;
  color: #000000;
  background-color: #feeafa;
  border-radius: 5px;
  margin-right: 4px;
  margin-left: 4px;
}

#clock.time {
  font-size: 13.5pt;
  color: #000000;
  background-color: #dee2ff;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#tray {
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #8e9aaf;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
}

#custom-menu {
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: 22pt;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  background-color: #dfe7fd;
  color: #000000;
  margin: 4px;
}

#custom-pulse {
  color: #000000;
  font-size: 16pt;
  padding-bottom: 2px;
  background-color: #efd3d7;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 4px;
  margin-left: 4px;
}

#cpu {
  color: #000000;
  font-size: 13.5pt;
  padding-bottom: 2px;
  background-color: #CCD3CA;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 10px;

}

#custom-cpu {
  color: #000000;
  font-size: 13.5pt;
  padding-bottom: 2px;
  padding-top: 4px;
  background-color: #CCD3CA;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 4px;
  margin-left: 4px;
}

#memory {
  color: #000000;
  font-size: 13.5pt;
  padding-bottom: 2px;
  background-color: #E1AFD1;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 10px;

}

#custom-memory {
  color: #000000;
  font-size: 13.5pt;
  padding-bottom: 2px;
  padding-top: 4px;
  background-color: #E1AFD1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-right: 4px;
  margin-left: 4px;
}